$dark-blue: #222831;
$light-blue: #00ADB5;
$grey: #393E46;
$white: #EEEEEE;
$error-red: #FF0000;

$main-font: 'Montserrat', sans-serif;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $dark-blue;
  width: 100%;
  height: 100%;
  margin: 0;
}

.spinningFlower {
  $size: 80px;
  position: absolute;
  top: calc(50% - #{$size} / 2);
  left: calc(50% - #{$size} / 2);
  width: $size;
  height: $size;
  animation: spinAndScale 2s linear infinite alternate;
}

@keyframes spinAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(3);
  }
}

.buildingPage {
  text-align: center;
}

h1.loadingText {
  margin-top: 20vh;
  color: $light-blue;
  font-family: $main-font;
}

h2.loadingText {
  color: $white;
  font-family: $main-font;
}


$registration-form-width: 400px;
$registration-inputs-height: 45px;

.registerForm {
  width: $registration-form-width;
  position: absolute;
  top: 20%;
  left: calc(50% - #{$registration-form-width} / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.loginForm {
  width: $registration-form-width;
  position: absolute;
  top: 20%;
  left: calc(50% - #{$registration-form-width} / 2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.registerTitle {
  color: $white;
  font-family: $main-font;
  font-weight: 400;
}

.registerInput {
  height: $registration-inputs-height;
  border-radius: 5px;
  border: none;
  font-family: $main-font;
  font-weight: 200;
  text-indent: 10px;

  &:focus {
    outline: #00ADB5 4px solid;
  }

  &::placeholder {
    font-style: italic;
    font-weight: 200;
  }

}

.registerForm label {
  color: $white;
  font-family: $main-font;
  font-weight: 200;
  align-self: flex-start;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 5px;
}

.loginForm label {
  color: $white;
  font-family: $main-font;
  font-weight: 200;
  align-self: flex-start;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: 5px;
}

.titleDiv {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.loginTitleDiv {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
}


.emailDiv {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.loginEmailDiv {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}

.firstNameDiv {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

.lastNameDiv {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

.passwordDiv {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
}

.loginPasswordDiv {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
}

.loginDiv {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
}

.primaryButton {
  height: $registration-inputs-height;
  border-radius: 5px;
  border: none;
  background-color: $light-blue;
  color: $white;
  font-family: $main-font;
  font-weight: 200;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }

  &:active {
    transform: translateY(5px);
  }
}

.secondaryButton {
  height: $registration-inputs-height;
  border-radius: 5px;
  border: #00ADB5 2px solid;
  background-color: $dark-blue;
  color: $light-blue;
  font-family: $main-font;
  font-weight: 200;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }

  &:active {
    transform: translateY(5px);
  }
}

.registerDiv {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
}

.loginRegisterDiv {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
}

.loginLoginDiv {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
}

.passwordInput {
  width: calc(#{$registration-form-width} - 4px);
  height: calc(#{$registration-inputs-height} - 1.5px);
}

.incorrectPasswordInput {
  width: calc(#{$registration-form-width} - 8px);
  height: calc(#{$registration-inputs-height} - 5.5px);
  border: $error-red 2px solid;
}

.togglePasswordButton {
  position: absolute;
  top: 323px;
  left: 360px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;

  &:active {
    transform: translateY(2px);
  }
}

.toggleLoginPasswordButton {
  position: absolute;
  top: 232px;
  left: 360px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  Z-index: 1;

  &:active {
    transform: translateY(2px);
  }
}

.errorMessage {
  margin-top: 0;
  color: $error-red;
  font-family: $main-font;
}

.icon {
  width: 40px;
  height: 40px;
}

.navBarIcon {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  }
}

.journalTitleContainer {
  display: flex;
  margin-top: 90px;
  width: 100%;
  height: 50px;
  justify-content: center;
}

.journalTitle {
}

.writeButtonImage {
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
  &:hover {
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
    cursor: pointer;
  }
}

.writeButton {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

$create-journal-form-container-width: 500px;

.journalFormContainer {
  position: fixed;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  border-radius: 10px;
  width: $create-journal-form-container-width;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.createJournalTitle {
  font-family: $main-font;
  font-size: 2rem;
  color: $dark-blue;
  margin-top: 20px;
  margin-bottom: 20px;
}

.createJournalTitleContainer {
  display: flex;
  justify-content: center;
}

.createJournalMoodContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.journalFormContainer label {
  font-family: $main-font;
  font-size: 1.2rem;
  color: $dark-blue;
  margin-bottom: 10px;
}

#journalMood {
  -webkit-appearance: none;
  width: $create-journal-form-container-width - 100px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

#journalMood::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: $light-blue;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

#journalMood::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: $light-blue;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.createJournalContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.journalContentInput {
  width: $create-journal-form-container-width - 50px;
  height: 300px;
  border: 1px solid $light-blue;
  border-radius: 5px;
  padding: 10px;
  font-family: $main-font;
  font-size: 1.2rem;
  color: $dark-blue;
  margin-bottom: 10px;
  resize: none;
}

.createJournalButtonsContainer {
  width: $create-journal-form-container-width - 27px;
  height: $registration-inputs-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.whiteBackground {
  background-color: $white;
}

.createJournalButton {
  width: 45%;
}

.journalSubTitle {
  font-family: $main-font;
  font-size: 1.2rem;
  color: $dark-blue;
  margin-top: 20px;
  margin-bottom: 10px;
}

.journalMoodStat {
  font-family: $main-font;
  font-size: 1.2rem;
  color: $light-blue;
  margin-top: 0;
  margin-bottom: 10px;
}

.journalMoodFace {
  margin-top: 0;
  margin-bottom: 20px;
}

.journalScrollableText {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  padding: 0 20px 0 20px;
}

.journalContentText {
  font-family: $main-font;
  font-size: 1rem;
  color: $dark-blue;
  margin-bottom: 10px;
  margin-top: 0;
}

.journalReadOnlyGoBackButton {
  width: 45%;
  height: 50px;
  background-color: $white;
  border: 2px solid $light-blue;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    cursor: pointer;
  }
}

.journalReadOnlyButtonsContainer {
  position: absolute;
  top: 630px;
  width: $create-journal-form-container-width - 40px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.journalDeleteButton {
  width: 45%;
  height: 50px;
  color: $error-red;
  border: 2px solid $error-red;
  background-color: $white;
}

.journalDatesContainer {
  width: $create-journal-form-container-width;
  margin-top: 30px;
  margin-left: calc(50% - $create-journal-form-container-width / 2);
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.journalDateDisplayed {
  font-family: $main-font;
  font-size: 1.2rem;
  color: $white;
  margin-top: 5px;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
  }
}

.journalDateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-blue;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $grey;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 500px;
  position: fixed;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  top: 0;
  z-index: 1;
}

.navbar a {
  position: relative;
}

.navbar a.active {
  border-bottom: 2px solid $light-blue;
  transition: border-bottom 0.3s ease;
}

@keyframes change {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animatedJournal {
  animation: change 0.5s ease;
}



